---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout>

<section id="about" class="max-w-7xl mx-auto px-12 sm:px-6 py-6 bg-white">

  <div class="max-w-lg sm:max-w-xl lg:max-w-2xl mx-auto">

    
    <!-- Email -->
    <div class="mt-1">
      <h2 class="text-lg font-medium text-slate-900">Email</h2>

      <div class="mt-2 space-y-4 text-sm leading-relaxed text-slate-500">
        <p>
        <a href="mailto:info@i4c.co.nz" class="hover:underline">
         info@i4c.co.nz
        </a>
        </p>
        
      </div>
    </div>

    <!-- Phone -->
    <div class="mt-6">
      <h2 class="text-lg font-medium text-slate-900">Phone</h2>

      <div class="mt-2 space-y-4 text-sm leading-relaxed text-slate-500">
        <p>
        <a href="tel:+64273938361" class="hover:underline">
      +64 27 39 38 361
        </a>
    </p>
    </div>

    <!-- Address -->
    <div class="mt-6">
      <h2 class="text-lg font-medium text-slate-900">Address</h2>

      <div class="mt-2 space-y-4 text-sm leading-relaxed text-slate-500">
        <p>
          16 main Road, Titathi Bay, Porirua, 5022
        </p>
    
      </div>
    </div>

  </div>

</section>

</BaseLayout>